.write {
    padding-top: 50px;
}
  
.writeImg {
    margin-left: 250px;
    width: 60vw;
    height: 450px;
    border-radius: 10px;
    object-fit: cover;
}
  
.writeForm {
    position: relative;
}
  
.writeFormGroup {
    margin-left: 150px;
    display: flex;
    align-items: center;
}
  
.writeIcon {
    font-size: 40px;
    color: rgba(131, 4, 4, 0.534);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
  
.writeInput {
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 70vw;
}
  
.writeInput::placeholder {
    color: rgba(95, 0, 0, 0.277);
    font-weight: 400;
}
  
.writeInput:focus {
    outline-style: none;
}
  
.writeText {
    width: 70vw;
    height: 100vh;
    font-family: 'Varela', sans-serif;
    font-size: 20px;
}
  
.writeSubmit {
    position: absolute;
    top: 20px;
    right: 50px;
    color: white;
    background-color: rgba(128, 0, 0, 0.599);
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
